menu "WIFI CONNECT"

config WIFI_SSID
    string "SSID"
    default "my ssid"

config WIFI_PASSWORD
    string "PASSWORD"
    default "my password"  

config LED_GPIO
    int "Blink GPIO number"
    default 2
    help
        GPIO number for the LED.

endmenu